# Name: Chloé Blanchard               

## UNI: chb2132

### Python for Data Analysis Summer 2020 Extra Credit (Total = 10 pts)
    
#### As a university, keeping track of students and faculty are one of the major logistical issues it faces on a quarterly basis.  

##### You are to complete the following tasks:
	•	Validate results by running the following code in your Jupyter notebooks. 
            --> Note: Indentation is your responsibility within Jupyter notebook. 
	•	Answer questions based on running the code.

In [ ]:
class Student(object):
    def __init__(self, ID, Name):
        self._ID=ID
        self._Name=Name

    def getStudentID(self):
        return self._ID
    
    def getStudentName(self):
        return self._Name
    
    def setBirthday(self,birthdate):
        self._birthday=birthdate

    def getBirthday(self):
        return self._birthday

In [ ]:
class ColumbiaStudent(Student):
    def __init__(self, ID, Name, Course):
        Student(ID, Name)
        self._Course=Course

    def setAddress(self, Address):
        self._Address = Address

    def getAddress(self):
        return self._Address

    def setCourse(self, Course):
        self._Course=Course

    def getCourse(self):
        return self._Course

Question: Which of the following is required to create a new instance of a class? (1 pt)      

	•	A. Class
	•	B. Value returning method
	•	C. Constructor
	•	D. None of the above

    Answer: C. Constructor

Question: Which of the following represents a template, blueprint, or contract that defines objects of the same type?  (1 pt)                         

	•	A. A data field
	•	B. A returning value method
	•	C. An object
	•	D. A class
    
    Answer: D. A Class

An argument is supplied to the __init__ function, whenever a Student is instantiated. (1 pt)   

	•	A. True
	•	B. False
    
    Answer: A. True

You want to add a Student to the class, his name is ‘Elvis Lowell’.  How would you go about doing this? (1 pt)

	•	A. Student(‘Elvis’)
	•	B. Student(‘Elvis’) and then Student(‘Lowell’)
	•	C. Student(1, 'Elvis Lowell')
	•	D. None of the Above
    
    Answer: C. Student(1, 'Elvis Lowell')

In [ ]:
s1 = Student(1, 'Elvis Lowell')

Question: Suppose s1 is an instance of class Student.
          Which code would you use to retrive the full name ? (1 pt)                       

	•	A.  s1.getStudentName
	•	B.  s1.getStudentName()
	•	C.  Both A & B
	•	D.  None of the above.
    
    Answer: B.  s1.getStudentName()

In [ ]:
s1.getStudentName()

'Elvis Lowell'

In [ ]:
s1.getStudentName

Now, you want to add his birthday.  
Do this by using the following:

In [ ]:
s1.setBirthday("07-31-1980")

print(s1.setBirthday("07-31-1980"))

None

Question: Printing the above command will give you the birthday.  (T or F?) (1 pt)    

	•	A. True
	•	B. False
    
    Answer: B. False

You want to add a Columbia Student to the class, her name is 'Lin Cheng' ID is 2 and Course is Python. 

Question: How would you go about doing this? (1 pt)    
 
	•	A. ColumbiaStudent('2','Lin Cheng',‘Python’)
	•	B. ColumbiaStudent(‘Lin’) AND then Student(‘Cheng’)
	•	C. Student('1', 'Lin Cheng')
	•	D. None of the above
    
    Answer: A. ColumbiaStudent('2','Lin Cheng',‘Python’)

In [ ]:
ColumbiaStudent('2', 'Lin Cheng', 'Python')

Use code below to answer questions 8, 9 and 10:

In [ ]:
class Customer(object):

    def __init__(self, name):
        self.name = name

    def set_balance(self, balance=0.0):
        self.balance = balance

    def withdraw(self, amount):
        if amount > self.balance:
            print('Amount greater than available balance.')
            self.balance -= amount
            return self.balance

    def deposit(self, amount):
        self.balance += amount
        return self.balance

In [ ]:
cust1 = Customer('Helga')
cust1.set_balance(20000.00)
bal = cust1.withdraw(1000.00)
print("Helga- Balance = ", bal)

Helga- Balance =  None

Question: Which is the output of the code above? (1 pt)

	•	A. Helga- Balance = 1000
	•	B. Helga- Balance = 20000
	•	C. Balance = 2000
	•	D. Helga- Balance = 19000
	•	E. None of the above
    
    Answer: E. None of the above

In [ ]:
cust2 = Customer('Jose')
cust2.set_balance(45000)
bal2 = cust2.deposit(5000)
print("Jose- Balance = ", bal2)

Jose- Balance =  50000

Question: What is the output of the code above? (1 pt)    

	•	A. Jose- Balance = 45000
	•	B. Jose- Balance = 50000
	•	C. Jose- Balance = 5000
	•	D. None of the Above
    
    Answer: B. Jose- Balance = 50000

In [ ]:
cust3 = Customer('Sophie')
cust3.set_balance(30000)
bal3 = cust3.withdraw(35000)
print("Sophie- Balance = ", bal3)

Amount greater than available balance.
Sophie- Balance =  -5000

Question: What is the output of the code above?  (1 pt)

	•	A. Amount greater than available balance.
	•	B. Amount greater than available balance.
            Sophie- Balance = -5000
	•	C. Sophie- Balance = 30000
	•	D. None of the above
    
    Answer: B. Amount greater than available balance.
               Sophie- Balance = -5000